
body {
    background-color: black;
}
a {
    color: white;
     text-decoration: none; /* Remove underscore of link */
}
threebuttons {
    display: flex;
    text-align: center;
    color: white;
    width: 75%;
    margin:0 auto;
}
#info {
    color: white;
    text-align: center;
    padding: 15px;
}
.pizzamenus {
    color: wheat; /*Doesn't seem to be inherited by 'ordinary'*/
    padding: 20px;
    text-align: center;
    width: 90%;
    margin:0 auto;
}
#ordinary-container {
    padding: 10px;
}
#ordinary {
    color: wheat;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin: auto;
}
#ordinary:hover {
    font-weight: bold;
}
#special-container {
    padding: 10px;
}
#special {
    color: wheat;
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: auto;
}
#special:hover {
    font-weight: bold;
}
#luxury-container {
    padding: 10px;
}
#luxury {
    color: wheat;
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: auto;
}
#luxury:hover {
    font-weight: bold;
}
#home {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    background-color: #002b51;
    flex: 1;
}
#home:hover {
    background-color: #004887;
}
#menu {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    background-color: #004887;
    flex: 1;
    width: 100%;
}
#call {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    background-color: #002b51;
    flex: 1;
}
#call:hover {
    background-color: #004887;
}
img {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}
