
body {
    background-color: black;
}
bottomcontainer {
    text-align: center; 
    position: fixed;
    bottom: 20px;
    width: 100%; 
}
openinghours {
    margin: 50px;   
}
p {
    color: wheat;
    margin: 6px;
    text-align: center;
}
address {
    color: white;
}
a {
    color: white;
     text-decoration: none; /* Remove underscore of link */
}

twobuttons {
    display: flex;
    text-align: center;   
    color: white;
    width: 50%;
    margin:0 auto;
}
#menu:hover {
    background-color: #004887;
} 
#menu {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px; 
    border: 1px 0px solid white;
    background-color: #002b51;
    flex: 1;
    width: 100%; 
} 
#call {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px; 
    background-color: #002b51;
    flex: 1;
}
#call:hover {
    background-color: #004887;
}

img {
    max-width: 20px;
    max-height: 20px; 
    width: auto;
    height: auto;
}